body{
	font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.heading{
	display:block;
}
form{
	display: inline-block;
	width: 20%; 
	margin: 30px auto; 
	border-radius: 5px; 
	padding: 5px;
	background: lightblue;
	border: 10px solid lightgrey;
}
input::-moz-placeholder{
 text-overflow:ellipsis; 
 color:rgba(0,0,0,.5);
 text-align: center;
} 
input:-moz-placeholder{
 text-overflow:ellipsis; 
 color:rgba(0,0,0,.5);
 text-align: center;
} 
input:-ms-input-placeholder{
 text-overflow:ellipsis; 
 color:rgba(0,0,0,.5);
 text-align: center;
} 
:focus::-webkit-input-placeholder{
 color: transparent; 
}
:focus::-moz-placeholder {
 color: transparent; 
}
:focus:-moz-placeholder{
 color: transparent; 
}
:focus:-ms-input-placeholder{
 color: transparent; 
}
.task_input {
	width: 50%;
	height: 10px; 
	padding: 8px;
	border: 2px solid grey;
}
.add_btn{
	border-radius:.1em;
	padding:5px 15px;
	color:#fff;
	background-color:#cc9293;
	transition:.5s;
}
.add_btn:hover{
	color:#fff;
	background-color:#ab5052;
}
table {
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
}

tr {
	border-bottom: 1px solid #cbcbcb;
}

th {
	font-size: 19px;
	color: #6B8E23;
}

th, td{
	border: none;
    height: 30px;
    padding: 2px;
}

tr:hover {
	background: #E9E9E9;
}

.task {
	text-align: left;
}

.delete{
	text-align: center;
}
.delete a{
	color: white;
	background: #a52a2a;
	padding: 1px 6px;
	border-radius: 3px;
	text-decoration: none;
}
